// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .base {
//  /*make it 100% width and a minimum of 1000px width*/
//  width: auto;
//  margin-left: 0px;
//  margin-right: 0px;
//  min-width: 1000px;
//  padding: 0px;
// display:table;
//  }
// .base-row {
//  Display: table-row;
//  }
// .base {
//  display: table-cell;
//  width: 50%;
//  }
// .cell1 {
//  background-color: #f00;
//  }
// .cell2 {
//  background-color: #0f0;
//  }
// .cell3 {
//  background-color: #00f;
//  }

.post_panel{
  margin-bottom: 20px;
  background-color: rgba(236, 236, 236, 0.6);
  padding: 20px;
  border-radius: 5px;
}

.post_container {
  overflow: hidden;

}
.image_container {
  float: left;
  width: 50%;
  padding-right: 20px;
}

.latex_container {
  float: right;
  width: 50%;
  background-color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
}

.image_container, .latex_container {
  padding-bottom: 1000em;
  margin-bottom: -1000em;
}

.post_info{
  margin-bottom: 15px;
  width: 50%;
  float: left;
}

.extra_info {
  width: 50%;
  float: right;
  .button {
    display: inline;
    float: right;
    margin-bottom: 12px;
  }
}

.post_header{
  overflow: hidden;
  padding-bottom: 10px;
}
.post_info, .extra_info{
  padding-bottom: 1000em;
  margin-bottom: -1000em;
}

.author_name {
  float: left;
  margin: 0px;
  // margin-right: 20px;
}

.post_title, .author_name{
  display: inline;
}

.post_header {
  margin: 0px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}